.icon {
    display: inline-block;
    vertical-align: middle;
    flex-shrink: 0;

    /* Static properties moved from JS */
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-position: center;
    -webkit-mask-position: center;
}