.conversion-body {
    background-color: var(--bg-page);
    color: var(--text-secondary);
    min-height: 100vh;
    display: flex;

    min-width: 100%;
    flex-direction: column;
    overflow: hidden;

    @media (max-width: 1024px) {
        /*height: auto;*/
        overflow-x: hidden;
        /*overflow-y: auto;*/
    }
}

.scroller {
    overflow-y: auto;
}

.conversion-header {
    height: 64px;
    background: var(--bg-card);
    border-bottom: 1px solid var(--border-light);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    z-index: 20;
    flex-shrink: 0;
    position: sticky;
    top: 0;

    .header-left {
        display: flex;
        align-items: center;
        gap: 0.75rem;

        .conversion-title {
            font-size: 1.25rem;
            font-weight: 900;
            color: var(--text-primary);
        }
    }

    .header-right {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

.conversion-main {
    display: flex;
    flex: 1;
    min-height: 0;

    @media (max-width: 1024px) {
        flex-direction: column;
    }
}

.settings-sidebar {
    width: 320px;
    background: var(--bg-card);
    border-left: 1px solid var(--border-light);
    display: flex;
    flex-direction: column;

    position: sticky;
    bottom: 0;

    @media (max-width: 1024px) {
        width: 100%;
    }

    .spacer {
        flex: 1 1 auto;
    }
}

.action-footer {
    padding: 1.25rem;
    background: var(--bg-page);
    border-top: 1px solid var(--border-light);

    .btn-convert {
        width: 100%;
        background: var(--btn-bg-primary);
        color: var(--text-on-primary);
        border: none;
        padding: 1rem;
        border-radius: 12px;
        font-weight: 800;
        font-size: 1.1rem;
        cursor: pointer;
        box-shadow: 0 4px 14px rgba(28, 119, 255, 0.3);
        transition: all 0.2s;

        &:hover {
            background: var(--btn-bg-primary-hover);
            transform: translateY(-1px);
        }
    }
}

.desktop-only {
    @media (max-width: 1024px) {
        display: none !important;
    }
}

.mobile-only {
    @media (min-width: 1025px) {
        display: none !important;
    }
}
